body {
    background-color: #ecd6b4;
}

/*------------------------------------------------------------*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: auto;
    margin-top: 15px;
    /*margin-bottom: 250px;*/
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
}

/*------------------------------------------------------------*/

.title1,
li {
    text-align: center;
}


/*------------------------------------------------------------*/

i {
    margin-right: 10px;
}

.border {
    background: #FFFFFF;
    border-radius: 18px;
    display: block;
    padding: 10px;
    margin: 10px;

}

.border .container .item {
    font-size: small;
    text-align: justify;
    font-weight: 200;
    color: black;
    margin: 15px;
}

.itemLi {
    list-style-type: none;
    margin-bottom: 10px;
}

.fa-instagram {
    background: -webkit-linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-facebook {
    background: -webkit-linear-gradient(#4267B2, #898F9C, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-inbox {
background: -webkit-linear-gradient(#4285F4, #DB4437, #F4B400, #0F9D58);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

.fa-linkedin {
color: blue;
    
}
