section{
    justify-content: center;
}

img{
    border-radius: 360px;
}

h1{
    display: flex;
    justify-content: center;
    margin-top:1%;
}

.nav-link{
    color: pink;
}

.navbar{
    background-color: grey;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav2{
   display: flex; 
   justify-content: flex-end;
}

a{
    margin: 3px;
}

footer{
    margin-top: 1%;
    background-color: grey;
}