.side-bar{
    background-color:#f0f0f0 ;
}
section{
   background-color: 
#d6d6d6;
}
footer{
    background-color: #aad9a6;
}
img{
    height:auto;
    width: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}
.articles{
    display: grid;
}
footer{
    background-color: #668F80;
}
footer nav-link{
    color: white;
}
.col-4{
    background-color: #f0f0f0;
}
.text-center{
    margin-top: 20px;
}
.articles.text-center{
    margin-bottom: 30px;
    font-size: larger;
}
.col-sm-12{
    margin-top: 25px;
}
bio{
padding-top: 10px;
}
.pic{
    width:100%;
}

