.container1{
    display:flex;
    justify-content:center;
    margin-bottom: 4%
    
}

.container2{
   display:flex; 
   justify-content:center;
   margin-bottom: 4%
}

main{
    background-color: #DDB892;
    
}

body{
    background-color: #ddb792;
}
.card{
   
    animation-name: fadeInDown;
    animation-duration:3s;
    background-color: #e6ccb2 !important;
}


.title{
    max-width:100%;
    background-color:#E6CCB2 ;
    display:flex;
    justify-content:center;
}

.row{
    margin-top:4% !important;
}

#bkImg{
    width:239px;
    height:160px;
}
#qnsImg{
    width:239px;
    height:160px;
}

#bxImg{
    width:239px;
    height:160px;
}

#bkImg2{
    width:239px;
    height:160px;
}

#manImg2{
    width:239px;
    height:160px;
}

#siImg2{
    width:239px;
    height:160px;
}

.card-title{
    text-align: center;
}
.navbar{
   text-color: tan;
   background-color: #B08968;
}

.instruct{
    text-align: center;
    background-color:#ddb792;
    padding-top: 4%;
}

@media screen and (max-width:600px){
    .container1{
        display:flex;
        padding-left:25%;
        justify-content:space-evenly;
        
    }
    
    .container2{
        padding-left:25%;
        
    }
    
    .card{
        margin-top:10%;
        
    }
    
}
