body {
    background-color: black!important;
    color: white!important;
    font-weight: 200!important;
    font-size: 1.13em!important;
}

body * ::-webkit-scrollbar {
        background-color: black;
}
    
body * ::-webkit-scrollbar-thumb {
        border-radius: 1em;
        background-color: grey;
}

header {
    position: sticky;
    z-index: 1;
    top: 0;
}

.title-banner {
    height: 2.5em;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c4c4c4;
}

.title-banner div {
    padding: 1% 5% 1% 5%;
} 

nav {
    font-weight: normal;
    font-size: initial;
    width: 100%;
    height: 5em;
    background-color: #21296a;
}

nav .nav-link.active {
    border-radius: 0;
}

.nav-item {
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
}

.nav-item a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 200;
}

.nav-item a:hover{
    background-color: white;
    border-radius: 0px;
}

.title {
    color: #007BFF;
}

footer {
    border-top: 1px white solid;
    padding: 2%;
    height: 8.5em;
    display: flex!important;
    flex-direction: row;
}

.footer-nav a:hover {
    text-decoration: none;
    color: white;
}

.footer-nav {
    width: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.footer-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    font-size: 2.75em;
    font-weight: 500;
}

.footer-banner a, .footer-banner a:hover {
    color: white;
    text-decoration: none;
}

.footer-copyright {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    width: 15%;
}