body{
    background-color:#DDB892 ;
}

.card-body {
    min-height: 300px;
    min-width: 450px;
    margin-right: 5px;
    background-color: #adb5bd;
     background-color: #E6CCB2 
    
    
}

.card {
    min-height: 300px;
    min-width: 450px;
    margin-right: 5px;
    /*margin-bottom: 10px;*/
    background-color: #adb5bd;
    padding: 20px;
     background-color: #E6CCB2 
     
    
}

.btn{
    margin-top: auto;
}


.btn2{
    /*margin-left: ;*/
    width:90%;
    margin:auto;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  /*white-space: nowrap;*/

  
}

/*.card {*/
/*    display: inline-block;*/
/*  }*/
  
.hello{
    /*display: block;*/
        /*overflow-wrap: normal;*/

}

.card.title{
    background-color: black;
}
