#maincarousel{
    width:50%;
    height:50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:2%;

}
.imgmyth{
    max-height:100%;
    max-width:100%;
}
.imgtax{
       display: block;
        height:auto;
        max-width: 100%;
        line-height: 1;
        margin:auto;
        width: 100%;
  
}
.imghelp{
        display: block;
        height: auto;
        max-width: 100%;
        line-height: 1;
        margin:auto;
        width: 100%;
}

.text{
    padding-top:2%;
    color:black;
    text-align:center;
    font-weight:bold;
    min-width:450px;
    min-height:182px;
}

.images .image1{
    display:flex;
    align-self:center;
    width:43%;
    height:60%;
    
    /*display: block;
    margin-left: auto;
    
    width: 50%;*/
}


@media screen and (min-width: 600px){
}
.background{
    background-size:cover;
}
.dontext{
    max-width:50%;
    max-height:30;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}