
@font-face {
    font-family: 'lemon_milkregular';
    src: url('lemon_milk/LEMONMILK-Regular.otf');
    font-family: 'lemon_milkBold';
    src: url('lemon_milk/LEMONMILK-Bold.otf');

}
.nav-link{
    color: white;
}

.img3{
    position: absolute;
    z-index: 0;
    width: 65%;

}

h1{
    font-family:lemon_milkBold;
}
.xhespic{
    z-index: 1;
}

.btn{
    background-color: white;
    border-radius: 0px;
    height: 45px;
    width: 157px;
    color: red;
}

.behind-button{
    border: 1px solid white;
    height: 45px;
    width: 157px;
    position: relative;
    top: -40px;
    right: -5px;
}

.part2{
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    
}

.causes{
    width:50%;
    align-self: center;
}

article{
    display: flex;
    flex-direction: column;
}

.num{
    width: 15%;
        margin-right: 100px;
}
span{
    display: flex;
}