
body {

    font-family: "Open Sans", sans-serif;
    color: #6b717e;
    background: rgb(2,0,36);
background: linear-gradient(169deg, rgba(2,0,36,1) 0%, rgba(121,9,119,1) 39%, rgba(0,212,255,1) 100%);
}

#row h1{
  margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #f8f9fa;
}
#row h2{
  color: #f8f9fa;
    margin-bottom: 50px;
    font-size: 24px;
}
#enter-button{
  
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    padding: 10px 35px 10px 35px;
    border-radius: 4px;
    transition: 0.5s;
    color: #d4dccd;
    background: #6b717e;
    border: 2px solid #6b717e;
}
#title-c{
  color: #f8f9fa;
  font-size: 24px;
}
#bottom-link{
  color:#f8f9fa;
  text-decoration:none;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 3px;
}
#marcy-link{
  color:#f8f9fa;
  font-size: 14px;
  text-transform: uppercase;
}
#topic{
  font-size: 48px;
  font-weight:600px;
}
.section-title h2{
  color: #f8f9fa;
  font-size: 24px;
}
a:hover{
    color:#6b717e;
    text-decoration: none;
    
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #efaac4;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: #d4dccd;
  line-height: 0;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

ul>li{
    list-style: none;
}

#header{
    transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}
#header.header-scrolled, #header.header-inner-pages {
    background: #6b717e;
  padding: 10px 0;
}
.navbar {
  padding: 0;
}
.navbar ul{
    margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  
}
.navbar li {
  position: relative;
}
.navbar > ul > li {
  white-space: nowrap;
  padding: 8px 12px;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 100%;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #15222b;
  font-weight: 400;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: efaac4a;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

.mobile-nav-toggle {
  color: #d4dccd;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(4, 7, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.home-container {
  margin-top: 150px;
  padding: 200px 0;
}

.community-main{
  margin-top: 150px;
}

.faq-main{
  margin-top:125px;
}

#team-main {
  margin-top: 150px;
}

#footer {
  background: #121d24;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}
#footer .footer-top {
  background: #6b717e;
  border-bottom: 1px solid #1d303c;
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
  font-size: 28px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #ffc4d1;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: efaac4a;
  
  text-decoration: none;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  color: efaac4a;
}
#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #ffc4d1;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}
#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}
#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: efaac4a;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}
#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #fff;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
#footer .credits a {
  transition: 0.3s;
}

  .community-main{
  margin-top: 150px;
}

#community-box{
    margin: 20px auto;
    padding: 0 30px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;  
}

#title-c{
    font-weight:bold;
}

#community-title{
    padding-top: 30px;
    font-size: 36px;
    font-weight: bold;
}
#donating-title{
    font-weight: bold;
    font-size: 28px;
    margin-top:20px;
}
#donation-options{
    padding-bottom: 50px;
}
#donation1{
    padding:20px 0;
}

#donation1 >img{
    max-width: 270px;
    
}

#donation2{
    padding:10px 0;
}

#donation2 > img{
    max-width:160px;
}

#voting> h2{
    font-weight:bold;
    font-size: 28px;
    margin-top: 60px;
}

#voting>img{
    max-width:300px;
    
}

#voting-button{
      font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    padding: 10px 35px 10px 35px;
    border-radius: 4px;
    transition: 0.5s;
    color: #d4dccd;
    background: #6b717e;
    border: 2px solid #6b717e;
    margin-bottom: 30px;
    margin-top:15px;
}
.faq-main{
  margin-top:125px;
}
#faq-box{
    margin: 20px auto;
    padding: 0 30px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;  
}

#faq-title{
    padding:20px;
    font-weight: bold;
}

#faq-accordion{
    padding-bottom: 40px;
}

#faq-form{
    margin: 20px auto;
    padding: 0 30px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    max-width: 600px;
    
}
#faq-form-title{
    margin-top:20px;
    font-weight:bold;
}
#faq-form-label{
    font-weight: 400;
}

#questions-text-field{
    min-width: 100px;
    max-width: 300px;
    margin: 20px 0;
}

#faq-submit-button{
    max-width:100px;
    margin-bottom:30px;
}

