
.section{
    
}

<<<<<<< HEAD
<<<<<<< HEAD
/*h1{*/
/*    color:tan;*/
/*}*/

=======
>>>>>>> master
=======
>>>>>>> master
.navbox{
    height:10%;
}
.nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.links{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
#carousel-example-generic img{
  width:100%;
}
  .carousel-inner{
    margin: 0 auto ;
  width:99%;
  
  
}
.navbarbox{
    background-color: #254E58;
    text-color: white;
}
.navbar-nav{
  background-color: #B08968;
}

.winter{
    height:50%;
}
.navbar{
   text-color: tan;
   background-color: #B08968;
}
main{
    background-color: #DDB892;
    
}


