
.section{
    
}

h1{
    color:tan;
}
h4{
    color:tan;
}
.navbox{
    height:10%;
}
.nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.links{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
#carousel-example-generic img{
  width:100%;
}
  .carousel-inner{
    margin: 0 auto ;
  width:95%;
  
  
}
.navbarbox{
    background-color: #254E58;
    text-color: white;
}
.navbar-nav{
  background-color: #B08968;
}

.winter{
    height:50%;
}
.navbar{
   text-color: tan;
   background-color: #B08968;
}

