body {
  background-color: #9CAFB7;
}

form {
  border: 3px solid #d3dbdf;
  font-family: Arial;
}

.container {
  padding: 20px;
  background-color: #d3dbdf;
}

input[type=text],
input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #405159;
  color: #fff;
  border: none;
  border-radius: 15px;
}

input[type=submit]:hover {
  opacity: 0.7;
}

.formSection {
  text-align: center;
}

.formSection h2 {
  background: -webkit-linear-gradient(#a6b7bf, #566d76, #151b1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}