.carousel-title {
    margin-top: 0.25em;
    display:flex;
    justify-content: center;
    font-size: 4em;
    padding: 1.25% 0;
    font-weight: normal;
}

.carousel-indicators {
    position: relative!important;
}

.card img {
    object-fit: contain;
    height: 15em;
    border-bottom: 1px solid grey;
}

.card-title {
    align-self: flex-start;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body p, .contact-type a {
    margin: 0;
    font-size: 1.2em;
    font-weight: 200;
}

.contact-type:nth-child(2) div{
    display: flex;
    flex-direction: row;
}

.contact-type:nth-child(2) a {
    flex-grow:1;
}

.card-body .collapse {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10em;
}

.card-text {
    height: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
}

.contact-type {
    display: flex;
    flex-direction: column;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.contact-type strong {
    font-size: 1.25em;
}

.card .btn {
    margin-top: 1.5em;
    width: 40%;
    align-self: center;
}

section .card {
    border-radius: 2.5em;
    margin: 0 auto;
    width: 60%;
    max-width: 35em;
    max-height: 45em;
    color: black;
    line-height: 1;
    padding: 1em;
}

@media (min-width: 1100px) {
    #lawyers, #orgs {
        display: none;
    }
    
    .resource-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .desktop-card-scroll {
        width: 95%;
        padding: 1.25% 0;
        display: flex!important;
        flex-direction: row;
        overflow-x: scroll;
    }
    
    .desktop-card-scroll .card {
        margin: 0 2em;
    }
    
    .desktop-card-scroll .card-text {
        font-size: 1.1em!important;
    }
    
    section .card {
       min-width: 35em;
    }
}
