.navbar-collapse {
    justify-content:flex-end;
} 

img {
  display: block;
  max-width: 100%;
  height: 6em;
}

iframe {
    width:100%;
    height:100%
}

#card:hover {
      transform: scale(1.1);
}

