.title {
    text-align: center;
    color: #c48e27;
}

.border {
    background: #FFFFFF;
    border-radius: 18px;
    display: block;
    padding: 10px;
    margin: 10px;

}

.border .container .item {
    font-size: small;
    text-align: justify;
    font-weight: 200;
    color: black;
    margin: 15px;
}

.itemLi {
    list-style-type: none;
    margin-bottom: 10px;
}
