i {
    color: white;
}

nav {
    background-color: #8F2D56;
}

h2 {
    background-color: #006BA6;
    color: white;
    display: flex;
    justify-content:center;
}

#row1 {
    background-color: #FFBC42;
}

#row2 {
    background-color: #D81159;
}

#row3 {
    background-color: #0496FF;
}



@media screen and (max-width: 991.98px) {
    #col1, #col3, #col8 {
        background-color: #FFBC42; 
    } /*yellow*/
    
    #col2, #col4, #col6 {
        background-color: #D81159;
    } /*red*/
    
    #col5, #col7, #col9 {
        background-color: #0496FF;
    } /*blue*/
}