main {
    height:100vh;
}

h1{
    text-align: center !important;
}

/*header{*/
/*    display: flex !important;*/
/*    justify-content:center;*/
/*    width:100%;*/
/*}*/

.aboutbox{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}