* {
        margin:0px;
    }

body {
    margin: 0px;
    font-family: Georgia, serif;
}

h5{
        padding: 0% 10%;
        font-style: italic;
}

h6{
    padding-right: 3%;
}

.container-fluid{
    max-width: 100%;
    padding-left: 0%;
    padding-right: 0%;
}



.navbar-toggler{

    justify-content: flex-end !important;
}

.nav{
background-color: #8F2D56;
    display: flex;

    padding: 2% 5%;
}

.nav>a{
        font-size: 1em; 
}

.dove{
    display: none;
    color: white;
    width: 4%;
    padding-left: 1%;
    margin-right: 4%;
}

.title{
  
    padding: 5% 0%;
    margin: 0% 0% 5%;

    background-color: #D81159;
    color: white;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;

}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.photo-one{
    max-width: 100%;
    height: auto;
}

.landing-row-1{
    display: flex;
    flex-direction:column-reverse;
    align-items:center;
    text-align: center;
    background-color: #FFBC42;
    color: darkslategray;
}

.landing-row-2{
    display: flex;
    flex-direction: column-reverse;
    align-items:center;
    text-align: center;
    background-color: #D81159;
    color: white;
}

.landing-mission-statement{
    margin-bottom: 5%;
    display: flex;
    flex-direction:column;
    align-items:center;
    text-align: center;
    min-height: 100%;
}

.landing-row-1-col-2{
    min-width:90%;
}

.landing-row-2-col-2{
    min-width:90%;
}

 a{
    color: darkslategray;
}
.image-2-container{
    display: flex;
    justify-content: center;
}

.photo-two{
    margin: 0;
    max-width: 150%;
    height: auto;
}

.resource{
    /* border: 7px solid #006BA6; */
    /* border-radius: 10px; */
    color: white;
    background-color: #006BA6;
    margin-top: 0%;
    padding: 5% 8% 5% 8%;;
    display: flex;
    flex-direction: column;
}

.resource>a{
    font-weight: 900;
    color: white;
    text-decoration: none;
}

hr{
    height: 1%;
    border: #FFBC42 2px solid;
    max-width: 90%;
}

.resource-row{
    background-color: #006BA6;
    
}

.photo-resource{
    max-height: 50%;
    max-width: 70%;
}

.photo-resource-container{
        display: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 0%;


}

.footer{
    background-color: #8F2D56;
    padding: 5% 0%;
}

.dove-bottom{
    color: white;
    padding: 2% 0% 0% 20%;
    
}

.footer-contact>h6{
    font-weight: 900;
}

.footer-contact{
    color: white;
    text-align: right;
    padding-right: 2%;
   
}

.footer-contact>a{
    text-decoration: none;
    color:white;
     font-weight: 400;
}

p{
    font-size: 1.20em;
}

@media only screen and (min-width: 600px) {
    *{
        margin:0;
}

.container{
    max-width: 100%;
    padding-left: 0%;
    padding-right: 0%;
}
    body {
    margin: 0%;
    font-family: Georgia, serif;
}



.navbar-toggler{

    justify-content: flex-end !important;
}

.nav{
    background-color: #8F2D56;
}

.navbar-brand{
        font-size: 1.5em;
}

.nav>a{
        font-size: 1em; 
}

.dove{
    display: inline;
    color: white;
    width: 4%;
    padding-left: 1%;
    margin-right: 4%;
}

.title{
    margin: 0% 0% 0% 0%;
    padding: 5% 0% 5% 0%;
    max-width: 100%; 
}

.photo-one{
    max-width: 65%;
    height: auto;
}

.landing-row-1{
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: justify;
    padding: 4% 0%;
        
}

.landing-row-2{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: justify;
    padding: 1% 0%;
    justify-content: center;
    
}

.landing-mission-statement{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 5%;
}

.landing-row-1-col-1{

}

.landing-row-1-col-2{
    text-align: center;
    min-width: 25%;
    margin-right: 10%;
    margin-left: -12%;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 1.20em;
}

.landing-row-2-col-2{
    text-align: center;
    min-width: 0%;
    font-size: 1.2em;
}

.photo-two{
    max-width: 90%;
    
}
    

.resource{
    /*border: 7px solid #006BA6;*/
    /*border-radius: 10px;*/
    color: white;
    background-color: #8F2D56;
    /*margin-top: 10%;*/
}
.resource-row{
    background-color: #8F2D56;
}

.photo-resource {
    max-height: 50%;
    max-width: 100%;
        margin-right: 25%;
}

.photo-resource-container{
        display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
     margin: 0% auto;
    


}

.footer{
    background-color: #006BA6;
    padding: 3% 0%;
}

.dove-bottom{
    color: white;
    padding: 2% 0% 0% 20%;
    
}

.footer-contact{
    color: white;
    text-align: right;
    padding-right: 8%;
}

.footer-contact>a{
    text-decoration: none;
    color:white;
    padding-right: 3%;
}

p{
    font-size: 1.25em;
}



}