* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

main {
    width: 100%;
}

/*.title>h3 {*/
/*    padding: 1% 45%;*/
/*    max-width: 100%;*/
/*    text-align: center;*/
/*    color: white;*/
/*    background-color: #006BA6;*/
/*    font-family: "Times New Roman", Times, serif;*/

/*}*/

.navbar {
    background-color: #8F2D56;
    width: 100vw;
}

.title {
    display: flex;
    justify-content: center;
    max-width: 100%;
    background-color: #FFBC42;
     color: darkslategray;
    padding: 4% 0%;

}

.video-container {
       padding: 5% 0%;
    display: flex;
    justify-content: center;
    background-color: #D81159;
}

.edu-video{
    max-width: 100%;
}

.lower-three {
    background-color: #8F2D56;
    color: white;
    font-family: "Times New Roman", Times, serif;

}

.photo-one{
    max-width: 100%;
}

.row-two{
    background-color: #D81159;
}

.row-three{
    background-color: #FFBC42;
    color: darkslategray;
}

.photo-two{
    max-width: 100%;
}

.photo-three{
    
    max-width: 100%;

}

.dove {
    color: white;
    width: 4%;
    padding-left: 1%;
}


.footer {
    background-color: #006BA6;
    padding: 3% 0%;
}

.dove-bottom {
    color: white;
    padding: 2% 0% 0% 20%;

}

.footer-contact {
    color: white;
    text-align: right;
    padding-right: 8%;
}

.footer-contact>a {
    text-decoration: none;
    color: white;
    padding-right: 3%;
}
